
header {
    background-color: #11f8ca;
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
   
}
body{
    background-color: rgba(238, 236, 243, 0.927);
    
}


.one {
    background-color: rgba(49, 80, 234, 0.7);
    margin: 1em;
    border: red;
    border-radius: 1em;
    border-width: 100%;
    font-size: 18px;

}

.two {
    background-color: rgb(81, 249, 132);
    margin: 1em;
    border: red;
    border-radius: 1em;
    border-width: 100%;
    font-size: 18px;
}
.three {
    background-color: rgba(49, 80, 234, 0.7);
    margin: 1em;
    border: red;
    border-radius: 1em;
    border-width: 100%;
    font-size: 18px;
}
.four {
    background-color: rgb(81, 249, 132);
    margin: 1em;
    border: red;
    border-radius: 1em;
    border-width: 100%;
    font-size: 18px;
}